h1 {
	font-size: 24px;
}

#question-header h1, #question-result-header h1 {
	text-align: center;
	margin-top: 0;
}

#question-content, #question-result-content {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.chart {
	width: 100%;
	height: 200px;
}

videogular div.my-layer {
	position: absolute;
	display: block;
	z-index: 50;
	min-height: 20px;
	max-width: 500px;
	background-color: white;
	border: 2px solid;
}


@media (orientation:landscape) and (max-height: 440px) {
	videogular div.my-layer {
		top: 5%;
		left: 50%;
		width: calc(85vh * 1.6);
		margin-left: calc(85vh * -0.8);
		font-size: 3vmin;
		border-radius: 10vh;
		padding: 5vh;
		padding-bottom: 50px;
	}
}


@media (orientation:portrait) and (max-width: 700px) {
	videogular div.my-layer {
		top: 5%;
		left: 50%;
		width: 95vw;
		margin-left: -47.5vw;
		font-size: 3vmin;
		border-radius: 5vw;
		padding: 5vw;
		padding-bottom: 50px;
	}
}

@media (max-height: 440px), (max-width: 700px) {
	#question-header h1, #question-result-header h1 {
		font-size: 5vmin;
	}
	div.my-layer button {
		font-size: 3vmin;
		padding: 1vmin;
	}
	.chart {
		height: 40vmin;
	}
}


@media (min-width: 700px) and (min-height: 440px) {
	videogular div.my-layer {
		top: 10%;
		left: 50%;
		margin-left: -270px;
		width: 540px;
		border-radius: 25px;
		padding: 20px;
		padding-bottom: 50px;
	}
}